:root {
    --darkblue: #010140; 
    --peach: #EEA47FFF;  
    --muteyellow: #f6f3ee;
    --mutebrown:#aa846e;
}

hr {
  height: 2px;
  background-color: white;
  border: none;
}

.backing-container{
    background-color: var(--muteyellow);
    padding: 40px;
    padding-bottom: 80px;
}

.pageheader{
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 80px;
    margin-top: 10px;
}

.subheader{
    text-align: center;
    font-size: 24px;
    padding: 10px 80px;
    font-family: Arial, sans-serif;
    font-weight: normal;
}

.donatebutton{
    text-align: center;
    width: 20%;
    height: 40px;
    position: absolute;
    left: 40%;
    margin-top: 40px;
}

.donatebutton:hover{
    background-color: var(--mutebrown);
}