:root {
    --darkblue: #010140; 
    --peach: #EEA47FFF;  
    --muteyellow: #f6f3ee;
    --mutebrown:#aa846e;
}

hr {
  height: 2px;
  background-color: white;
  border: none;
}

.pageheader{
    text-align: center;
}

.subheader{
    text-align: center;
}

.donatebutton{
    text-align: center;
    width: 20%;
    height: 30px;
    position: absolute;
    left: 40%;
}

.donatebutton:hover{
    background-color: var(--mutebrown);
}