/*css for checkout.php*/
:root {
    --darkblue: #010140; 
    --peach: #EEA47FFF;  
    --muteyellow: #f6f3ee;
    --mutebrown:#aa846e;
}

.splitscreen{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*contains 2 info area items*/
.sectionflexcontainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

/*contains section header and labels and inputs*/
.infoareaitem{
    background-color: var(--muteyellow);
    padding-left: 40px;
    padding-right: 30px;
    padding-bottom: 30px;
    margin: 0px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: Arial, sans-serif;
}

.sectionheader{
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.inputlabel{
    font-weight: bold;
    margin-right: 10px;
}

#hiddenlabel{
    color: var(--muteyellow);
}

.inputfield{
    height: 20px;
    width: 150px;
    margin-right: 2px;
    margin-left: 2px;
}

.labelandfield{
    display: flex;
}

.boxes{
    height: 26px;
}

.confirmdonation{
    padding: 10px;
    background-color: white;
    font-size: 16px;
    width: 60%;
    margin-left: 20%;
}

.confirmdonation:hover{
    background-color: var(--mutebrown);
    font-weight: bold;
    color: white;
}

/*confirmation page*/
.thankyouheader{
    text-align: center;
    font-family: Arial, sans-serif;
}

.thankyousubheader{
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: normal;
}


@media only screen and (max-width: 980px) {
    .infoareaitem{
        margin-top: 20px;
    }
    .inputfield{
        margin-left: 20px;
        margin-right: 20px;
        width: 90%;
    }
}