/*this file contains the css for the footer*/

/*variable declaration to use for easy colouring*/
:root {
    --darkblue: #010140; 
    --peach: #EEA47FFF;  
    --muteyellow: #f6f3ee;
    --mutebrown:#aa846e;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 102%;
    height: 50px;
    background-color: var(--peach);
    color: white;
    text-align: right;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin-bottom: 30px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

@media only screen and (max-width: 800px) {
    .footer{
        font-size: 12px;
        height: 40px; 
    }
}

