/*Hex codes: Royal Blue #00539CFF, Peach #EEA47FFF*/

:root {
    --blue: #00539CFF;
    --darkblue: #010140; 
    --peach: #EEA47FFF;   
}

/*navbar css to use in header.php*/



#navbar {
  overflow: hidden;
  background-color: var(--peach);
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: var(--darkblue);
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}