/*Hex codes: Royal Blue #00539CFF, Peach #EEA47FFF*/

:root {
    --blue: #00539CFF;
    --darkblue: #010140; 
    --peach: #EEA47FFF;  
    --muteyellow: #f6f3ee;
}

/*navbar css to use in header.php*/



#navbar {
  overflow: hidden;
  background-color: var(--peach);
}

#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
    background-color: #f6f3ee;
    color: black;
    font-weight: bold;
}

.active {
    background-color: var(--darkblue);
    color: white;
    font-weight: bold;  
}


.navbarsearch{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
    
}

.gobutton{
    padding: 2px;
    font-size: 12px;
}


.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}