/*variable declaration to use for easy colouring*/
:root {
    --darkblue: #010140; 
    --peach: #EEA47FFF;  
    --muteyellow: #f6f3ee;
    --mutebrown:#aa846e;
}



/*navbar css to use in header.php*/
#navbar {
    overflow: hidden;
    background-color: var(--peach);
    position: fixed;
    width: 100%;
    margin-bottom: 40px;
    margin-left: -9px;
    margin-top: -9px;
    z-index: +1;
    
}

#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 12px;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, sans-serif;
}

#navbar a:hover {
    background-color: var(--muteyellow);
    color: black;
    font-weight: bold;
    padding: 14px 10px;
    
    
}


/*css for the active page nav link*/
.active {
    background-color: var(--darkblue);
    color: white;
    font-weight: bold;  
}


/*variation for the cart link*/
.activecart{
    background-color: var(--mutebrown);
}

/*div to separate search and cart options from left-floating links*/
.rightfloatsection{
    float: right;
    display: block;
}

/*css for search section*/
.navbarsearch{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding-top: 12px;
    text-decoration: none;
    font-size: 17px;  
}

.searchbarforinput{
    height: 19px;  
}

.gobutton{
    padding: 3px;
    font-size: 13px;
    margin-right: 2px;
}

.gobutton:hover{
    background-color: var(--mutebrown);
    font-weight: bold;
    color: white;
}


/*css for cart image on navbar*/
.cartnaviconimage{
    width: 20px;
    height: 16px;
}

@media only screen and (max-width: 800px) {
    #navbar{
        height: 60px;
        margin-bottom: 10px;
    }
    
    #navbar a {
        padding: 6px;
        font-size: 16px;
    }
    
    .cartnaviconimage{
        width: 14px;
        height: 12px;
    }
    
    .navbarsearch{
    padding-top: 3px;
    }
    
    .searchbarforinput{
        height: 12px;
        margin-left: 10px;   
    }

    .gobutton{
        padding: 2px;
        font-size: 11px;
        margin-right: 5px;
    }
}
