/*variable declaration to use for easy colouring*/
:root {
    --darkblue: #010140; 
    --peach: #EEA47FFF;  
    --muteyellow: #f6f3ee;
    --mutebrown:#aa846e;
}

hr{
  height: 2px;
  background-color: white;
  border: none;
}


/*index page css*/
/*css for main banner/title card*/
.bannercard {
    width: 100%;
    height: 400px;
    background-image: url("/myProject/images/other/mutedgif.gif");
    background-color: var(--muteyellow);
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: -10px;
    padding-top: 190px;
    font-family: Arial, sans-serif;
}

/*css for title on bannercard*/
.welcomebanner{
    font-size: 70px;
    margin-bottom: 2px;
    margin-top: 65px;
}

/*css for shop now button on h2*/
.shopnowbutton{
    font-family: Arial, sans-serif;;
    font-size: 30px;
    height: 40px;
    border: none;
}

.shopnowbutton:hover{
    text-decoration: underline;
    color: var(--mutebrown);
    
}


/*about page css*/

/*flex box*/
.aboutsectionscontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 20px;
}

.aboutsectionitem{
    background-color: var(--muteyellow);
    color: black;
    justify-content: space-around;
    margin: 10px;
    padding: 20px;
    margin-top: auto; 
}

/*text adjustments*/
.aboutsubtitle{
    font-size: 30px;
    font-family: Arial, sans-serif;
    margin-bottom: 0px;
    margin-top: 20px;
}

.abouttext{
    font-size: 20px;
    font-family: Arial, sans-serif;
}

.aboutimagecaption{
    font-size: 14px;
    font-family: Arial, sans-serif;
    text-align: right;
}


/*contextual links css*/
.contextlinks{
    text-decoration: none;
    color: var(--mutebrown);
    font-style: italic;
    font-weight: bold;
}

.contextlinks:hover{
    text-decoration: underline;
}

.aboutimage{
    width: 350px;
}



.imgchangebutton{
    border: none;
    text-decoration: underline;
    font-weight: bold;
    font-size: 14px;
    padding: 0;
    color: var(--mutebrown);
}

.imgchangebutton:hover{
    cursor: pointer;
}

/*media queries with max-width 800px*/
@media only screen and (max-width: 800px) {
    .aboutsectionscontainer{
        /*change flex direction from row to column*/
        flex-direction: column;
    }
    
    .aboutimage{
        width: 100%;
    }
    
    .aboutimagecaption{
        font-size: 16px;
    }
    
    .imgchangebutton{
        font-size: 16px;
    }
    
}