:root {
    --blue: #00539CFF;
    --darkblue: #010140; 
    --peach: #EEA47FFF;
    --muteyellow: #f6f3ee;
}

.boxarea{
    background-color: var(--muteyellow);
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 40px;
}

h1{
    font-size: 40px;
    font-family: Arial, sans-serif;
}

.boxarea p{
    font-size: 24px;
    font-family: font-family: Arial, sans-serif;
}

.userinfo{
    width: 200px;
    height: 20px;
}

.usersubmit{
    height: 40px;
    width: 210px;
    margin-top: 20px;
    font-size: 20px;
}

.usersubmit:hover{
    background-color: darkgrey;
}

