/*variable declaration to use for easy colouring*/
:root {
    --darkblue: #010140; 
    --peach: #EEA47FFF;  
    --muteyellow: #f6f3ee;
    --mutebrown:#aa846e;
}

hr {
    height: 2px;
    background-color: white;
    border: none;
    margin-bottom: 30px;
}

a{
    text-decoration: none;
    color: var(--darkblue);
}

a:hover{
    color: var(--mutebrown);
}

/*css for main div*/
.boxarea{
    background-color: var(--muteyellow);
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding: 20px;
    font-size: 18px;
    font-family: Arial, sans-serif;
    text-align: center;
}

/*special css for view_users.php*/
#viewusersboxarea{
    width: 90%;
}

h1{
    font-size: 36px;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-bottom: 2px;
}

.pleasenote{
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

/*css for user input/text boxes*/
.userinfo{
    width: 140px;
    height: 24px;
    position: relative;
    display: inline-block;
}

/*css for submit buttons on register.php and password.php*/
.usersubmit{
    height: 40px;
    width: 180px;
    margin-top: 20px;
    font-size: 18px;
    font-family: Arial, sans-serif;
    background-color: white;
    position: relative;
    margin-right: 0;
    margin-left: 0;  
}

.usersubmit:hover{
    background-color: var(--mutebrown);
    color: white;
    font-weight: bold;
}

/*set font size of table containing list of registered users*/
.userlisttable{
    font-size: 18px;

}

.messageheader{
    text-align: center;
    font-size: 40px;
}

.messagetext{
    text-align: center;
    font-size: 20px;
}

.error{
    text-align: center;
    font-size: 20px;
}

@media only screen and (max-width: 800px) {
    .boxarea{
        width: 80%;
    }
    
    
    .userinfo{
        margin: 5px 40px;
        width: 70%;
    }
}