/*this file contains the css for shop pages - shop, art and petproduct*/

:root {
    --blue: #00539CFF;
    --darkblue: #010140; 
    --peach: #EEA47FFF;
    --muteyellow: #f6f3ee;
    
}

/*css for the shop page*/

.categorycontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.categoryitem{    
    background-color: var(--darkblue);
    color: white;
    width: 100%;
    justify-content: space-around;
    padding-bottom: 10px;
    margin-top: -20px;
    margin-bottom: 5px;
    box-shadow: 5px 10px 10px #888;
}

.categoryitem:hover{
    box-shadow: 10px 20px 10px #888;
}

.shopcategoryimage{
    display: block;
    max-width: 480px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tiledescription{
    text-align: center;
    font-size: 36px;
    font-family: sans-serif;
}

a{
    text-decoration: none;
}





/* css for art and petproduct pages*/

.allproductsarea{
    margin-top: -30px;
}

.pageheading{
    font-size: 90px;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 2px; 
}

.imagecontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 30px;
}

.imageitem{
    display: flex;
    margin: 20px;
    padding: 20px;
    flex-wrap: wrap;
    max-width: 340px;
    box-shadow: 5px 10px 10px #888;
}

.images{
    width: 340px;
    height: 340px;
}

.addtocartbutton{
    width:  36px;
    padding: 2px;
    margin-top: 10px;
    position: relative;
    left: 80%;
    color: var(--darkblue);
    background-color: white;
    font-weight: bold;
    font-size: 14px;
}

.addtocartbutton:hover{
    background-color: var(--peach);
    color: white;
}


.likebutton{
    background-color: white;
    width: 36px;
    padding: 0px;
    left: 75%;
    margin-top: 10px;
    position: relative;
}

.likebutton:hover{
    background-color: lightpink;
}

/*css for the images/icons used for the like and addtocart buttons*/
.buttonimage{
    width: 26px;
    padding-top: 4px;
    padding-bottom: 2px;
}


/*products page*/
.sectionlabel{
    font-size: 56px;
    padding-left: 36px;
    margin-bottom: 0;
    margin-top: 0px;
    text-align: center;
}


/*media queries */

@media only screen and (max-width: 800px) {
/* for shop page*/
    .categorycontainer{
        flex-direction: column;
    }
    
    .categoryitem{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 30px;
        
    }
    
    .shopcategoryimage{
        display: block;
        max-width: 80%;
    }
    
/*for art.php and petproducts.php   */
    
    .pageheading{
        font-size: 50px;
    
    
}